/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical {
  text-orientation: sideways;
  writing-mode: vertical-rl;
}

.content-container {
  height: calc(100vh - theme('spacing.16'));
}

.shadow-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sessionLength-container {
  background: #ff0000;
}

.red-card {
  background: rgba(255, 0, 0, 0.1);
}
.blue-card {
  background: rgba(74, 184, 255, 0.1);
}
.yellow-card {
  background: rgba(249, 206, 35, 0.1);
}
.pink-card {
  background: rgba(253, 81, 129, 0.1);
}

.strenghtMap-container {
  background: #282d30;
}

.recharts-polar-angle-axis path {
  fill: white !important;
}

.row {
  height: 50%;
}

.dailyActivities-container {
  height: 100%;
}

main {
  width: 100%;
}
